.ship_inventory_container {
    height: 100%;
    width: 29%;
    position: fixed;
    float: left;
    top: 130px;
    left: 0px;
}

.header {
    font-size: 1em;
    margin: 0;
    padding-left: 20px;
}

.item_type_header {
    background-color: #26004d;
    border-radius: 25px;
    color: #ffffff;
    font-size: 1.5em;;
    padding-left: 20px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.item_container {
    border-style: solid;
    border-radius: 25px;
    background-color: #e6e6e6;
    padding-left: 20px;
}

.item_name {
    font-size: 1em;
    margin: 0;
    padding-left: 20px;
}

.item_cost_container {
    margin: 0;
    padding-left:25%;
    align-items: right;
    align-content: right;
    display: flex;
}

.item_cost {
    font-size: 0.8em;
    float:left;
    width:33%;
}