.resource_tracker_container {
    width: 49%;
    float: left;
    border: solid;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    background-color: #333333;
    margin-bottom: 10px;
    padding-top:10px;
}

.resource_text {
    color: #ffffff;
    padding-left: 20px;
}

.ammo_text {
    color: #ffffff;
    float: right;
    padding-right: 30px;
}