.market_container {
    float: right;
    margin-top: 130px;
    width: 70%;
    height: 100%;
}

.item_type_header {
    background-color: #26004d;
    border-radius: 25px;
    color: #ffffff;
    font-size: 1.5em;;
    padding-left: 20px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}