.market_container {
    float: right;
    margin-top: 11.4em;
    width: 70%;
    height: 100%;
}

.mk_item_type_header {
    background-color: #26004d;
    border-radius: 25px;
    color: #ffffff;
    font-size: 1.5em;;
    padding-left: 20px;
    padding-bottom: 3px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.active, .mk_item_type_header:hover {
    background-color:#400080;
}

.hidden {
    display: none;
}

.collapsable_icon {
    float:right;
    padding-right: 10px;
    font-size: 1em;
    color: #ffffff;
}